.menu-footer{
    margin-left:1rem;
            &__item{
                border-bottom: 1px solid gray;
                padding: 2rem 0 1rem;
                color: aliceblue;
                width: 80%;
                text-align: left;                
            }

            &__link{
                color: rgb(26, 96, 156);
                font-size: 1.25rem;  
                transition: all .25s;
                &:hover{
                    color: white;
                    padding-left:1rem ;
                    transition: all .25s;
                }             
            }
}