/*----IMPORTACIONES----------------
------------------------------------*/

@import "elementos/general/general-styles"; //Estilos Generales
@import "elementos/general/flex-config"; //Configurar FLEX
@import "elementos/general/colores"; //Colores
@import "elementos/general/fuentes"; //Fuentes
@import "elementos/Header/logo/logo"; //Logo del Header
@import "elementos/Header/logo/logo-animaciones"; //Animaciones del Logo
@import "elementos/Header/menu_header/menu-principal"; //Menu Principal del header
@import "elementos/Main/banner"; //Banner
@import "elementos/Main/cards/cards"; //Cards
@import "elementos/Main/articulos/articulos"; //Articulos
@import "elementos/Main/barra-lateral/formularios"; //Formularios
@import "elementos/Main/barra-lateral/redes-sociales-animaciones"; //Iconos de Redes Sociales
@import "elementos/Main/articulos/articulo-blog"; //Link BLOG
@import "elementos/general/animaciones"; //Animaciones
@import "elementos/Main/barra-lateral/login"; //Login
@import "elementos/Main/barra-lateral/colaboradores"; //Colaboradores
@import "elementos/footer/menu-footer";//Menu footer
@import "elementos/footer/ubicacion-footer"; //Mapa de la ubicacion





/*--------------ESTILOS UNIVERSALES------------*/
* {
    @extend .universal;
}

/*------------ESTILOS DEL BODY------------*/

.body {
    @include body(font-principal);
    h2{
        @include titulos(bg-color-titulos);
    }
}

/*------------ESTILOS DEL HEADER----------*/
.header {
    //----Header
    @include header(bg-color-secundario, font-color-principal);
    @include flex-center ($fila);
    align-items: center;

    &__contenedor {
        //---Contenedor dentro del Header
        margin: 0 auto;
        width: 75rem;
        @include flex ($fila, $space-between);
    }

    .logo {
        //----LOGO
        @include logo(bg-color-logo, font-secundaria, font-simbolos);
    }

    .menu-principal {
        //----Menu Principal del Header
        @include menu-principal(font-secundaria, font-color-principal);
    }
}


/*------------ESTILOS DEL MAIN----------*/

.main {
    @extend .main; //----Contenedor Principal

    .contenedor-principal {
        width: 75rem;
        margin: 0 auto;
        @include flex-center ($columna);
    }

    .banner {
        //----Baner
        @extend .banner;
    }

    .contenedor-cards {
        //---Contenedor de todas las cards
        @include flex ($fila, $space-between);
        width: 75rem;
        height: auto;
        padding: 4.375rem .5rem 7.8125rem;
        .card {
            //-----Cards Individuales
            @extend .card;
        }
    }

    .contenedor-inferior {
        //----Contenedor de Articulos y Barra lateral
        @include flex ($fila, $space-between);
        align-items: flex-start;
        
        .contenedor-articulos {
            //--Contenedor de Articulos
            @extend .contenedor-articulos;
            &__title {
                //---Titulo del Contenedor de articulos
                @extend .contenedor-articulos__title;
            }
            .articulo {
                //----Articulos Individuales
                @extend .articulo;
            }
            .articulo-blog{
                @extend .articulo-blog;
            }
        }

        .asside-bar {
            //---Contenedor de barra Lateral
            width: 25%;            
            
            .contenedor-inputs {
                //---Contenedor de los Inputs
                padding: 2rem 0rem 3rem;
            }

            .form-search {
                //---Formulario Buscar
                &__input {
                    width: 89%;
                    @extend .input;
                }

                &__button {
                    border-radius: 0px 5px 5px 0px;
                    margin-left: -.37rem;
                    @extend .input;
                }
            }

            .login{//----LOGIN Estilos de los Inputs
                @extend .input;
                margin-bottom: 1rem;
            }

            .form-login {//---LOGIN
                .contenedor-inputs__login{
                    @extend .contenedor-inputs__login;
                }
            }
            .redes-sociales{
                @extend .redes-sociales;
            }
            
            .colaboradores{//---Contenedor de los Colaboradores
                &__contenedor{
                    @extend .contenedor-colaboradores;
                }
            }
        }
    }    
}


/*------------ESTILOS DEL FOOTER----------*/
.footer{
    @include footer(bg-color-secundario);

    & h2{//---Estilos de los titulos del Footer
        border-radius: .5rem;
    }

    &__contenedor{ //---Contenedor General del Footer
        @include flex ($fila, $space-between);
        align-items: flex-start;
        margin: 0 auto;
        padding: 2rem;
        width: 75rem; 
        
        &--ancho{
            width: 30%;
        }
        
        .menu-footer{//-----Menu del Footer
            @extend .menu-footer;
        }


        .ubicacion{//------Seccion de Ubicacion
            @extend .ubicacion;
        }

        .footer-contenedor-derecho{
            @include flex-center ($columna);
            
            .footer-contenedor-html5{
                @include flex-center ($columna);
                width: 100%;
                &__title{
                    width: 100%;
                }                
                &__img{
                    padding: 1rem;
                }
            }

            .footer-contenedor-sistemas{
                @include flex-center ($fila);
                flex-wrap: wrap;
                &__title{
                    width: 100%;
                }
                &__img{
                    width: 3rem;
                    margin: 2rem .25rem;
                }
            }

            .footer-autor{
                width: 100%;
                &__descripcion{
                    color: white;
                    padding: 1rem;
                }
            }
        }
    }
}





